[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kombu = "==4.2.1"
celery = "==4.2.1"
python-dotenv = "*"
requests = "*"
cidc_utils = {git = "https://github.com/CIMAC-CIDC/cidc-utils"}
google-cloud-storage = "*"
"nose2" = "*"
python-json-logger = "*"
python-dateutil = "*"
openpyxl = "*"
selenium = "*"
bson = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pandas = "*"
kubernetes = "*"
snakemake = {git = "https://github.com/CIMAC-CIDC/cidc-snakemake"}

[dev-packages]
pylint = "*"
"pep8" = "*"
black = "*"

[requires]
python_version = "3.6"
