[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kombu = "==4.1.0"
celery = "==4.1.0"
python-dotenv = "*"
requests = "*"
cidc_utils = {git = "https://github.com/dfci/cidc-utils"}
google-cloud-storage = "*"
"nose2" = "*"
python-json-logger = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"

[requires]
python_version = "3.6"
